
/*aboutus*/
.aboutHeader {
    align-items: center;
    background-image: linear-gradient(180deg,rgba(0,0,0,.9),transparent 231%),url(https://www.octaloop.io/static/media/aboutusBack.91b277e93208273c5331.png);
   
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    color: white;
}
.AboutHeader {
    -webkit-text-stroke: 4px var(--baselight);
    color: var(--baselight);
    display: flex;
    font-family: Century Gothic;
    font-size: 8rem;
    font-weight: 800;
    gap: 25px;
    text-transform: uppercase;
}
.headertxt {
    color: var(--baselight);
    font-family: Century Gothic;
    font-size: clamp(.8rem,3vh,1rem);
    margin-top: 80px!important;
    max-width: 880px;
    text-align: center;
}
.CEO{
    align-items: center;
    background-color: #f4f4f4;
    display: flex;
    gap: 119px;
    justify-content: center;
    min-height: 60vh;
    padding-inline: 8%;
   
    box-sizing: border-box;
   
}
.ceoText {
    font-family: Century Gothic;
    font-style: normal;
    max-width: 900px;
}
.ceoMessage {
    color: #000;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 500;
    line-height: 172.25%;
}

.ceoHeader {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 172.25%;
    text-transform: uppercase;
}

.ceoImg {
    scale: .9;
    display: flex;
    flex-direction: column;
    width: 259.67px;
}
.ceoImg div {
    color:white;
    display: flex;
    font-size: 20.1326px;
    font-weight: 700;
    height: 44px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
}
.ceoImg div:first-child {
    background-color:  #007bff;
    padding-inline: 20px;
}
.ceoImg div:last-child {
    background-color: #414040;
    width: 100%;
}
.centered {
    align-items: center;
    display: flex;
    justify-content: center;
}
.AboutDetail {
   background-color:#414040;
    flex-direction: column;
    min-height: 100vh;
   
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.aboutDetail{
    
    align-items: center;
    
    display: flex;
    flex-direction: column;
    font-family: Century Gothic;
    font-style: normal;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.AboutDetail p:first-child {
    font-size: clamp(20px,5vw,41.3227px);
    font-weight: 700;
    line-height: 51px;
    margin: 20px 0;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.AboutDetail p:last-child {
    font-size: 17.8216px;
    font-size: clamp(14px,4vw,17.8216px);
    font-weight: 400;
    line-height: 172.25%;
    margin-bottom: 80px;
    max-width: 900px;
}